ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4672d2;
    float:right;
  }


  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
      padding: 50px;
      text-align: center;
      background-color: #474e5d;
      color: white;
      height:400px;
      font-size: 30px;
    }
    